<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>first-project.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>30C9CA341E2479E8008C3D33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30C9CA481E2479E8008C3D33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30C9CA531E2479E8008C3D33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
